:root {
  --primary: #FEA116;
  --dark: #0F172B;
  --light: #F1F8FF;
}

body {
  font-family: 'Heebo', sans-serif;
  margin-top: 70px;
}

.hero-header {
  background: linear-gradient(rgba(15,23,43,0.85), rgba(15,23,43,0.85)),
              url("bg-hero.jpg") center/cover no-repeat;
  min-height: 90vh;
}

.section-title {
  font-family: 'Pacifico', cursive;
}

.service-item {
  background: #fff;
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
}

.service-item:hover {
  background: var(--primary);
  color: white;
}

.service-item:hover i {
  color: white;
}

footer {
  font-size: 14px;
}
